{% extends 'base.html.twig'%}

{% block title%}Création d'une annonce{% endblock %}

{% form_theme form 'ad/_collection.html.twig' %}

{% block body %}

<div class="container">
    <h1 class="my-5">Créer une nouvelle annonce</h1>

    {{ form_start(form) }}


    <div class="row">

        <div class="col">
            <div class="alert alert-dark">
            <h2>Informations générales</h2>
            <hr>
            {{form_row(form.title)}}
            {{form_row(form.slug)}}
            {{form_row(form.price)}}
            {{form_row(form.rooms)}}
            </div>
            <div class="alert alert-dark">
            <h2>Images de l'annonce</h2>
            <hr>
            {{form_row(form.coverImage)}}
            {{form_row(form.images)}}
            </div>
        </div>
        <div class="col">
            <div class="alert alert-dark">
            <h2>Détaills de l'annonce</h2>
            <hr>
            {{form_row(form.introduction)}}
            {{form_row(form.content)}}
            </div>
        </div>
    
    </div>

    <div class="alert alert-success  clearfix">
    <h2 class="alert-heading">Sauvegarder mon annonce</h2>
    <button type="submit" class="btn btn-primary float-right">Créer la nouvelle annonce <i class="fas fa-check"></i></button>
    
    {{ form_end(form) }}
</div>
</div>
{% endblock %}


{% block javascripts %}

<script>
    $('#add-image').click(function (){
        //je récupére le numéro des futurs champs que je vais créer
        //const index = $('#ad_images div.form-group').length;
        const index = +$('widgets-counter').val();

        //je récupére le prototype des entrées
        const tmpl = $('#ad_images').data('prototype').replace(/__name__/g, index);


        //injection du code au sein de la div
        $('#ad_images').append(tmpl);


        $('#widgets-counter').val(index + 1);

        //je gere le button supprimer
        handleDeleteButtons();
    });

    function handleDeleteButtons(){

        $('button[data-action="delete"]').click(function(){

            const target = this.dataset.target;
            $(target).remove();
        });
    }
    handleDeleteButtons();
</script>
{% endblock %}